@import "tailwindcss";

@theme {
  --breakpoint-xs: 25rem;
}
:root {
  --background: black;
  --foreground: #171717;
  --font-family: "Inter", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Clash Grotesk", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --font-family: "Inter", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Clash Grotesk", sans-serif;
  }
}

html {
  font-size: 100%;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
  overflow-x: hidden;
}

@media screen and (max-width: 1690px) {
  html {
    font-size: 80% !important;
  }
}

@media screen and (max-width: 1400px) {
  html {
    font-size: 70% !important;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 65% !important;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 55% !important;
  }
}

@media screen and (max-width: 360px) {
  html {
    font-size: 50% !important;
  }
}

.spice-container {
  width: 92%;
  margin: 0 auto;
}